.App {
  background-color: black;
}

.App-logo {
  width: 150px;
  height: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.display-Movie {
  display: inline-block;
}

.img-conteiner {
  display: inline-block;
  text-align: center;
}

.search-Input {
  text-align: center;
  margin-bottom: 10px;
  margin-left: 15px;
}

.text-Search {
  margin-right: 15px;
}

span {
  color: white;
}

input {
  border-radius: 10px;
}

img {
  margin: 3px;
  cursor: pointer;
  /* width: 290px;
  height: 163px; */
  border-radius: 5px;
}

.return {
  width: 15%;
}

.single-image {
  width: 63%;
  border:5px solid #848586;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(19, 18, 18, 0.98);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: #f3eeee;
  border-radius: 10px;
  min-width: 500px;
  box-shadow: 0px 2px 10px 0px rgb(146, 143, 143);
}

.movie-Detail{
  display: inline-block;
  width: 100%;
  height: 100%;
}

.components-return {
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.components-imgMovie {
  height: 100%;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  img {
   width: 200px;
  }
}


